@media (min-width: 1130px) {
    .dataCircle{
        height: 100%;
    }
    .weatherPredictions{
        margin-top:0px;
    }
    .columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        
    }
    .helpColumns{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap: 0px;
    }
    .temperature{
        margin-left: 5px;
        margin-right: 5px;
    }
    .weatherConditions{
        margin: auto;
        max-width: 5000px;
        border-radius: 30px;
    }

    .mainDisplay{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .myReadings{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .otherReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    
    }
    .temperature{
        max-width: 280px;
    }
    .graphData{
        height: 300px;
        width: 300px;
    }
    .lightSoundgraphData {
        width: 360px;
        height: 300px;
    }
    .humidityContent{
        width: 300px;
        height: 300px;
    }
    .dustContent{
        width: 360px;
        height: 300px;
    }
    .graphColumns {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .weather{
        margin-top:10px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .graphContentPredictions{
        width: 600px;
    }
    
}

@media (max-width: 1130px) and (min-width: 728px) {
    .weather{
        margin-top:10px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .temperature {
        max-width: 200px;
        margin:auto;
    }
    .weatherConditions {
        max-width: 200px;
        border-radius: 30px;
        margin:auto;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    
    .weatherPredictions{
        margin-top: 0px;
    }
    .mainDisplay{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .myReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .otherReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    
    }
    .temperature{
        max-width: 280px;
    }
    .dataCircle{
        height: 100%;
    }
    .weatherPredictions{
        margin-top: 10px;
    }
    .graphData{
        height: 300px;
        width: 290px;
    }
    .lightSoundgraphData {
        width: 600px;
        height: 250px;
    }
    .humidityContent{
        height: 300px;
        width: 290px;
    }
    .dustContent{
        width: 600px;
        height: 400px;
    }
    .graphColumns {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .graphContentPredictions{
        width: 600px;
    }
    
}

@media (max-width: 728px) and (min-width: 501px) {
    .mainDisplay{
        padding-right:10px;
        padding-top: 10px;
    }
    .myReadings{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .otherReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    
    }
    .dataCircle.lower{
        height: 200px
    }
    .upper{
        height: 100%;
    }
    .weatherPredictions{
        margin-top: 10px;
    }
    .graphData{
        height: 300px;
        width: 370px;
    }
    .humidityContent{
        width: 400px;
        height: 250px;
    }
    .dustContent{
        width: 370px;
        height: 300px;
    }
    
    .temperature{
        width: 10px;
    }
    .weatherConditions{
        width: 15px;
        border-radius: 30px;
    }
    .weather{
        margin-top:10px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .weatherConditions{
        width: 15px;
    }
    .lightSoundgraphData {
        width: 370px;
        height: 250px;
    }
    .graphContentPredictions{
        width: 400px;
    }
    
}

@media (max-width:501px) {
    .temperature{
        width: 10px;
    }
    .weatherConditions{
        width: 15px;
        border-radius: 30px;
    }
    .graphData{
        height: 300px;
        width: 350px;
    }
    .mainDisplay{
        padding-right:10px;
        padding-top:10px;
        
    }
    .weather{
        margin-top: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .weatherPredictions{
        margin-top: 10px;
    }
    .dataCircle{
        margin-top: 10px;
    }
    .otherReadings{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .dataReadings{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .airQuality{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .additionalStuff{
        
        margin-bottom:10px;
    }
    .lightSoundgraphData {
        width: 300px;
        height: 300px;
    }
    .dustContent{
        width: 300px;
        height: 300px;
    }
    .graphContentPredictions{
        width: 350px;
    }
    
}

body {
    margin: 0px;
}


.mainDisplay {
    color:rgb(1, 0, 2);
    background-color: #bdd7f1;
    padding-bottom: 20px;
    padding-left: 10px;
    
}
.mainDisplayContent {
    text-align: center;
}
.homePage {
    background-color: white;
    display: flex;
    min-height: calc(100vh - 20px);
    padding-top: 0px;
}

.aboutPage {
    background-color: rgb(221, 238, 251);
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
}
.historyPage {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
}
.pageContent {
    background-color: #f5f8f9;
    flex: 1;
}

.homePage .pageContent {
    background-color: white;
}

.helpPage {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20px);
    background-color: rgb(221, 238, 251);
}
.airQuality {
    background-color: #dcecf5;
    padding-top:50px;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.aboutTitle {
    text-align: center;
}
.aboutText {
    margin: 30px;
    padding: 20px;
    background-color: #306193;
    color: white;
    height: auto;
    text-align: center;
    font-size: 25px;
}
.aboutText a {
    color: rgb(204, 204, 204);
    text-decoration: underline;
    font-size: 25px;
}
.aboutInfo {
    margin: 30px;
    padding:20px;
    background-color: #bdd7f1;
    text-align: center;
    font-size: 20px;
}
.pageLink {
    text-align: center;
    font-size: 20px;
}
.pageLink a {
    color: rgb(74, 65, 65);
    text-decoration: underline;
}
.aboutText.pageLink{
    color:#f0f6fc;
    text-decoration: underline;
}
.historyText {
    background-color: #8ab1da;
    margin-left: 50px;
    margin-right: 50px;
    padding:30px;
    font-size: 20px;
    text-align: center;
}
.historyText a {
    color: rgb(74, 65, 65);
    text-decoration: underline;
}
.dataReadings {
    background-color: #f5f8f9;
}
.dataCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f8f9;
    padding:px;
    
    text-align: center;
}
.dataContainer {
    background-color: #008599;
    width:120px;
    height:120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.humidity{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.progressBarText{
    font-size: 25px;
}

.dataVal {
    background-color: #f5f8f9;
    width:100px;
    height:100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    
}
.timestampHome{
    text-align: center;
    font-size: 20px;
}
.temperature {
    min-width: 200px;
    border-radius: 40px;
    
    font-size: 50px;
    padding-top: 30px;
    padding-bottom:30px;
    margin:auto;
    background-color: #306193;
    color:white;
    text-align:center;

}

.rightColumn {
    margin:0
}
.weatherConditions {
    text-align: center;
    font-size: 30px;
    background-color: #306193;
    min-width: 150px;
    color:white;
    
}

.dataText{
    font-size: 15px;
}
.weatherPredictions {
    background-color: #8ab1da;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
}


.myReadings {
    margin-top: 10px;
    text-align: center;
    
}




.dataReadings {
    padding:20px;
}

.tempGraph {
    background-color: #f0f6fc;
    padding: 20px;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.graphContent {
    background-color: #f0f6fc;
}

.additionalStuff{
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #306193;
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 10%;
}


.navbar {
    background-color: rgb(19, 46, 80);
    height: 100%;
    position:fixed;
    width: 80px;
    margin:0;
    min-height: 397;
    
}

.content {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right:10px;
    margin-left:90px
}
ul {
    list-style-type: none;
    text-align: center;
    padding-left:0px;
}

.homeIcon {
    color: white;
    font-size: 40px;
}
.aboutIcon {
    color: white;
    font-size: 40px;
}
.historyIcon {
    color: white;
    font-size: 40px;
}
.historyTitle{
    text-align: center;
}
.helpIcon {
    color: white;
    font-size: 40px;
}




.menuIcon {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuIcon svg {
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menuIcon div {
    height: 55px;
    vertical-align: middle;
}

.menuIcon:hover{
    cursor: pointer;
    background-color: white;
}

.menuIcon:hover svg {
    color: rgb(19, 46, 80)
}

.homePage.columns::after {
    content: '';
    position: relative;
    height: 12rem;
    width: 100%;
}


.timestamp.readings{
    background-color: #306193;
    color:white;
    padding:10px;
    text-align: center;
    vertical-align: middle;
    
    
}
@media (max-width:600px){
    .weatherReadings {
        margin-top:5px;
        margin-bottom: 5px;
        margin-left:10px;
        margin-right:10px;
    }
    .tag{
        float: left;
    }
    .dataContent {
        background-color: #bdd7f1;
        padding: 10px;
    }
    .weatherReadings.titles {
        background-color: rgb(246, 242, 242);
        display: none;
    }
    
}

@media (min-width: 600px) and (max-width: 1232px){
    .weatherReadings {
        display:grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 10px;
        margin-top:5px;
        margin-bottom: 5px;
        margin-left:50px;
        margin-right:50px;
    }
    .tag{
        float: left;
    }
    .dataContent {
        background-color: #bdd7f1;
        padding: 10px;
    }
    .weatherReadings.titles {
        background-color: #bdd7f1;
        display: none;
    }
}
@media (min-width: 1232px){
    .timestamp{
        background-color: #306193;
        padding:10px;
        text-align: center;
        vertical-align: middle;
        
        
    }
    .tag {
        display: none;
    }
    .weatherReadings.titles{
        color:black;
    }
    
    
    .weatherReadings{
        display:grid;
        grid-template-columns: 1fr 4fr;
        grid-gap: 10px;
        margin-top:5px;
        margin-bottom: 5px;
        margin-left:50px;
        margin-right:50px;
        color: black;
    }
    .dataContent {
        padding: 0px;
        display:grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-gap: 10px;
    }
    .dataColumn {
        background-color: #bdd7f1;
        text-align: center;
        padding: 10px;
        
    }
    .timestamp .corner{
        background-color: #bdd7f1;
    }
}

.timestamp.readings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.aboutAppText {
    background-color:#8ab1da;
    padding:10px;
    text-align: center;
    margin:15px;
    margin-bottom:5px;
    font-size: 20px;
}
.howToText{
    background-color: #bdd7f1;
    padding:10px;
    text-align: center; 
    margin-top:5px;
    margin-bottom:5px;
    margin-right:10px;
    margin-left:10px;
    min-height: 77vh;
}

.setUpBack{
    background-color: #bdd7f1;
    padding:10px;
    text-align: center; 
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    margin-right:10px;
}

.helpColumns{
    margin:5px;
}



.alternativeBack{
    background-color: #dcecf5;
}
.lightSoundGraph{
    margin-top: 10px;
    background-color: #f0f6fc;
    display:flex;
    justify-content: center;
    align-items: center;
}

.humidityGraph{
    background-color: #dcecf5;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.dustGraph{
    background-color: white;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.aboutLog {
    background-color: rgb(232, 251, 249);
    padding: 2px;
    margin-top: 5px;
    margin-bottom:5px;
    width: 400px;
}
.aboutInfoContent {
    display:flex;
    align-items: center;
    justify-content: center;
}
.aboutAppText{
    font-size: 20px;
    
}
.aboutAppText p{
    padding:0px;
}
.setUpText {
    background-color:#8ab1da;
    padding:10px;
    text-align: left;
    margin:15px;
    margin-bottom:5px;
    font-size: 22px;
}
.setUpAppText {
    background-color:#306193;
    padding:10px;
    text-align: left;
    margin:15px;
    margin-bottom:5px;
    font-size: 22px;
    color:white;
}
.helpText{
    font-size: 25px;
}
.weatherPredictionsText {
    color: #f5f8f9
}

.dataPredictionsContent {
    padding: 0px;
    display:grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-gap: 10px;
}
.dataPredictions {
    font-size: 22px;
}
.columnTitles {
    color : white;
    font-size: 17px;
    font-weight: bold;
}


.predictionGraphContent{
    background-color: #f5f8f9;
    padding:20px;
    margin-top: 10px;
    margin-bottom:10px;
    display: flex;
    align-items: centre;
    justify-content: center;
    
}
.predictionsGraph{
    background-color: #f5f8f9;
    height:320px
    
}