@media (min-width: 800px) {
    
    
    .additional{
        padding-top:170px
    }
    .weatherPredictions{
        margin-top:0px;
    }
    .columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
        
    }
    .temperature{
        margin-left: 5px;
        margin-right: 5px;
    }
    .weatherConditions{
        margin: auto;
        max-width: 5000px;
    }
    .settingsButton{
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0px;
    }
    .mainDisplay{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .myReadings{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .otherReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    
    }
}
@media (max-width: 850px) and (min-width: 520px) {
    .temperature {
        max-width: 200px;
        margin:auto;
    }
    .weatherConditions {
        max-width: 200px;
        
        margin:auto;
        padding-top: 1px;
        padding-bottom: 1px;
    }
    .settingsButton {
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0px;
        
    }
    .weatherPredictions{
        margin-top: 0px;
    }
    .mainDisplay{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .myReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .otherReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    
    }
}

@media (max-width: 520px) and (min-width: 360px) {
    .mainDisplay{
        padding-right:10px;
    }
    .myReadings{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .otherReadings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    
    }
}

@media (max-width:360px) {
    .mainDisplay{
        padding-right:10px;
    }
    .myReadings{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    .otherReadings{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .dataReadings{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .airQuality{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .additionalStuff{
        margin-bottom:10px;
    }
}

body {
    margin: 0px;
}


.mainDisplay {
    color:rgb(1, 0, 2);
    background-color: rgb(246, 242, 242);
    
    
    padding-bottom: 20px;
    padding-left: 10px;
    
}
.mainDisplayContent {
    text-align: center;
}
.settingsButton {
    text-align: center;
    font-size: 20px;
    background-color: rgb(180, 178, 178);
}
.settings {
    margin:0px;
    padding-bottom: 10px;

}
.homePage {
    background-color: white;
}
.aboutPage {
    background-color: rgb(246, 242, 242);
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.notificationsPage {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.pageContent {
    background-color: rgb(246, 242, 242);
    flex: 1;
}
.helpPage {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(246, 242, 242);
}
.settingsPage {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(246, 242, 242);
}
.airQuality {
    background-color:rgb(246, 242, 242);
}
.aboutTitle {
    text-align: center;
}
.aboutText {
    margin: 30px;
    padding: 20px;
    background-color: rgb(180, 178, 178);
    height: 200px;
}
.aboutInfo {
    margin: 30px;
    padding:20px;
    background-color: lightgrey;
    text-align: center;
    font-size: 20px;
}
.settingsLink {
    text-align: center;
}
.settingsLink a {
    color: grey;
    text-decoration: underline;
}
.dataReadings {
    background-color:rgb(246, 242, 242);
}

.temperature {
    min-width: 200px;
    font-size: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: rgb(180, 178, 178);
}

.rightColumn {
    margin:0
}
.weatherConditions {
    text-align: center;
    font-size: 30px;
    background-color: rgb(180, 178, 178);
    min-width: 150px;
    
    
}


.weatherPredictions {
    background-color:rgb(246, 242, 242);
    text-align: center;
    font-size: 30px;
    padding-bottom: 300px;
    margin-bottom: 10px;
    padding-top: 20px;
}


.myReadings {
    margin-top: 10px;
    text-align: center;
    
}

.airQuality {
    padding:20px;
}

.dataReadings {
    padding:20px;
}

.graph {
    background-color: rgb(246, 242, 242);
    padding: 20px;
    margin-top: 10px;
    height: 20%;

}

.additionalStuff{
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: rgb(246, 242, 242);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.navbar {
    background-color: rgb(180, 178, 178);
    height: 100%;
    position:fixed;
    width: 80px;
    margin:0;
    min-height: 397;
    
}
@media (min-width: 1044px){
    .additional{
        padding-top:115px
    }
}
@media (min-width: 996px) and (max-width: 1044px){
    .additional{
        padding-top:150px
    }
}
.content {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right:10px;
    margin-left:90px
}
ul {
    list-style-type: none;
    text-align: center;
    padding-left:0px;
}

.homeIcon {
    color: white;
    font-size: 40px;
}
.aboutIcon {
    color: white;
    font-size: 40px;
}
.notificationsIcon {
    color: white;
    font-size: 40px;
}
.helpIcon {
    color: white;
    font-size: 40px;
}
.settingsIcon {
    color: white;
    font-size: 45px;
    position: fixed;
    bottom: 10px;
    width: 80px
}

.menuIcon.settingsIcon svg {
    margin-top: -3px;
}

.menuIcon {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menuIcon svg {
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menuIcon div {
    height: 55px;
    vertical-align: middle;
}

.menuIcon:hover{
    cursor: pointer;
    background-color: white;
}

.menuIcon:hover svg {
    color: rgb(180, 178, 178);
}

